.insuranceDetail {
  position: relative;
}

.tab {
  position: relative;
  padding: 18px 0;

  &.active {
    background: linear-gradient(180deg, #ebeff0 0%, #f7f7f7 93.23%);
  }
}

.banner {
  position: relative;
  margin: 0 auto;

  img {
    display: block;
    width: 100%;
  }
}

.productWord {
  position: relative;
  padding: 30px 20px;
}

.productTitle {
  font-size: 22px;
  margin: 0 0 10px;
}

.actionButton {
  position: fixed;
}
