.insuranceDetail {
  position: relative;
}

.actionButton {
  position: fixed;
}

.ctaWrapper {
  @apply fixed bottom-0 left-0 right-0 w-full flex items-center justify-center p-5 bg-white;

  box-shadow: 0 0 0 rgb(0 0 0 / 10%);
  transition: 0.15s ease-in-out;
}
