@tailwind base;
@tailwind components;

.accordion {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;

  .content {
    position: relative;
    max-height: 0;
    transition: 0.35s ease-in-out;
    overflow: hidden;
    padding: 0 20px;
  }

  .symbol {
    @apply bg-ottoBlue-200 ease-in-out duration-500 w-px h-2;
  }

  &.opened {
    .content {
      padding: 20px;
      max-height: 100vh;
    }

    .symbol {
      @apply bg-ottoBlue-400;
    }
  }
}
