.accordion {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;

  .content {
    position: relative;
    max-height: 0;
    transition: 0.35s ease-in-out;
    overflow: hidden;
    padding: 0 20px;
  }

  &.opened {
    .content {
      padding: 20px;
      max-height: 200vh;
    }
  }
}
