.polisAccordion {
  position: relative;
  overflow: hidden;
  transition: all 0.25s;
  min-height: 64px;

  * {
    transition: all 0.25s;
  }

  .content {
    max-height: 0;
    transition: all 0.25s;

    .identity {
      position: relative;
      padding: 0 14px;
    }

    .coverage {
      padding: 0 30px;
      background: linear-gradient(180deg, #e4f4f9 0%, #effafd 93.23%);
    }

    .coverage * {
      opacity: 0;
    }
  }

  .polis1,
  .polis2,
  .polis3 {
    position: relative;
    background-blend-mode: multiply;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    border-radius: 10px;
    letter-spacing: 1px;
    margin: 10px 0;
  }

  .polis1 {
    background: linear-gradient(180deg, #37aff8 0%, #107fc2 100%);
  }

  .polis2 {
    background: linear-gradient(180deg, #44bc88 0%, #32986e 100%);
  }

  .polis3 {
    background: linear-gradient(180deg, #8369ff 0%, #4029ad 100%);
  }

  &.open .content {
    max-height: 300vh;

    .identity {
      padding: 20px 14px;
    }

    .coverage {
      padding: 20px 30px 40px;

      * {
        opacity: 1;
      }
    }
  }
}

.polisTransactionDate {
  @apply px-5 text-xs text-ottoGrey-300;
}

.polisFileItem {
  @apply flex w-full overflow-hidden py-2.5 px-5 w-full hover:bg-slate-100;
}

.polisFileWord {
  @apply pr-4 flex-1 w-4/5;
}

.polisFileName {
  @apply text-ottoBlue-100 font-semibold text-sm;
}

.polisFileLink {
  @apply text-ottoBlue-200 text-sm hover:underline block w-full break-words;
}

.polisFileName,
.polisFileLink {
  &.inactive {
    @apply text-ottoGrey-300 pointer-events-none;
  }
}

.polisCoverageAmmount {
  @apply text-xs text-center font-semibold text-[10px] text-ottoBlue-500;

  transform: translate(0, -50%);
}

.polisTextDate {
  @apply text-[10px] font-extrabold text-ottoBlue-150 mt-2.5;

  transform: translate(-50%, 0);
}
